In [49]:
import pandas as pd
import math
import numpy as np

In [61]:
metadata = pd.read_csv('../data/the-movies-dataset/movies_metadata.csv', index_col='id')
keywords = pd.read_csv('../data/the-movies-dataset/keywords.csv', index_col='id')

In [62]:
def nan_handler(dtype, val):
    dtype(val) if not math.isnan(val) else None
    
class Movie:
    def __init__(self, row):
        self.adult = bool(row.adult)
        self.budget = int(row.budget) if not math.isnan(row.budget) else 0
        self.genres = row.genres

In [63]:
keywords.dtypes

keywords    object
dtype: object

In [64]:
metadata.dtypes

adult                       bool
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                    int64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                       bool
vote_average             float64
vote_count                 int64
dtype: object

In [68]:
metadata.join(keywords, on='id', sort=True)

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords
id,,,,,,,,,,,,,,,,,,,,,
2,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,3.860491,...,0,69.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_6...",Released,NaN,Ariel,False,7.1,44,"[{'id': 240, 'name': 'underdog'}, {'id': 378, ..."
3,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",2.292110,...,0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Shadows in Paradise,False,7.1,35,"[{'id': 1361, 'name': 'salesclerk'}, {'id': 17..."
5,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,9.026586,...,4300000,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539,"[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na..."
6,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",5.538671,...,12136938,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.4,79,"[{'id': 520, 'name': 'chicago'}, {'id': 2231, ..."
11,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,42.149697,...,775398007,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778,"[{'id': 803, 'name': 'android'}, {'id': 4270, ..."
12,False,"{'id': 137697, 'name': 'Finding Nemo Collectio...",94000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://movies.disney.com/finding-nemo,tt0266543,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",25.497794,...,940335536,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There are 3.7 trillion fish in the ocean. They...,Finding Nemo,False,7.6,6292,"[{'id': 494, 'name': 'father son relationship'..."
13,False,NaN,55000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0109830,en,Forrest Gump,A man with a low IQ has accomplished great thi...,48.307194,...,677945399,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The world will never be the same, once you've ...",Forrest Gump,False,8.2,8147,"[{'id': 422, 'name': 'vietnam veteran'}, {'id'..."
14,False,NaN,15000000,"[{'id': 18, 'name': 'Drama'}]",http://www.dreamworks.com/ab/,tt0169547,en,American Beauty,"Lester Burnham, a depressed suburban father in...",20.726578,...,356296601,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Look closer.,American Beauty,False,7.9,3438,"[{'id': 255, 'name': 'male nudity'}, {'id': 29..."
15,False,NaN,839727,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",NaN,tt0033467,en,Citizen Kane,"Newspaper magnate, Charles Foster Kane is take...",15.811921,...,23217674,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's Terrific!,Citizen Kane,False,8.0,1244,"[{'id': 736, 'name': 'journalist'}, {'id': 918..."
16,False,"{'id': 498, 'name': 'Heart of Gold Collection'...",12800000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,tt0168629,en,Dancer in the Dark,"Selma, a Czech immigrant on the verge of blind...",10.684806,...,40031879,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You don't need eyes to see.,Dancer in the Dark,False,7.7,392,"[{'id': 30, 'name': 'individual'}, {'id': 246,..."
17,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.whatisannwyn.co.uk/,tt0411267,en,The Dark,Adèle and her daughter Sarah are traveling on ...,5.691508,...,0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One of the living for one of the dead.,The Dark,False,5.6,76,"[{'id': 236, 'name': 'suicide'}, {'id': 439, '..."
18,False,NaN,90000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0119116,en,The Fifth Element,"In 2257, a taxi driver is unintentionally give...",24.305260,...,263920180,126.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,There is no future without it.,The Fifth Element,False,7.3,3962,"[{'id': 402, 'name': 'clone'}, {'id': 444, 'na..."
19,False,NaN,92620000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,tt0017136,de,Metropolis,In a futuristic city sharply divided between t...,14.487867,...,650422,153.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,There can be no understanding between the hand...,Metropolis,False,8.0,666,"[{'id': 312, 'name': 'man vs machine'}, {'id':..."
20,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.clubcultura.com/clubcine/clubcineas...,tt0314412,en,My Life Without Me,A Pedro Almodovar production in which a fatall...,10.310508,...,9726954,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,My Life Without Me,False,7.2,78,"[{'id': 455, 'name': 'farewell'}, {'id': 457, ..."
21,False,"{'id': 252313, 'name': 'The Endless Summer Col...",0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt0060371,en,The Endless Summer,"The Endless Summer, by Bruce Brown, is one of ...",1.378819,...,0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Endless Summer,False,7.8,23,"[{'id': 1524, 'name': 'surfer'}, {'id': 1671, ..."
22,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",140000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneyvideos/liveaction/p...,tt0325980,en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 17th-century pira...",47.326665,...,655011224,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Prepare to be blown out of the water.,Pirates of the Caribbean: The Curse of the Bla...,False,7.5,7191,"[{'id': 911, 'name': 'exotic island'}, {'id': ..."
24,False,"{'id': 2883, 'name': 'Kill Bill Collection', '...",30000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.miramax.com/movie/kill-bill-volume-1/,tt0266697,en,Kill Bill: Vol. 1,An assassin is shot at the altar by her ruthle...,25.261865,...,180949000,111.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Go for the kill.,Kill Bill: Vol. 1,False,7.7,5091,"[{'id': 233, 'name': 'japan'}, {'id': 732, 'na..."
25,False,"{'id': 285564, 'name': 'Jarhead Collection', '...",72000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,tt0418763,en,Jarhead,Jarhead is a film about a US Marine Anthony Sw...,9.997032,...,96889998,125.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Welcome to the suck.,Jarhead,False,6.6,776,"[{'id': 1589, 'name': 'sniper'}, {'id': 4405, ..."
26,False,NaN,1400000,"[{'id': 18, 'name': 'Drama'}]",http://www.walkonwatermovie.com,tt0352994,he,LaLehet Al HaMayim,"Eyal, an Israeli Mossad agent, is given the mi...",1.709996,...,0,103.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,He was trained to hate until he met the enemy.,Walk on Water,False,6.5,20,"[{'id': 220, 'name': 'berlin'}, {'id': 376, 'n..."
27,False,NaN,1000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt0411705,en,9 Songs,"Matt, a young glaciologist, soars across the v...",18.847707,...,1574623,66.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"2 lovers, one summer, and the 9 songs that def...",9 Songs,False,5.1,103,"[{'id': 212, 'name': 'london england'}, {'id':..."
28,False,NaN,31500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.apocalypsenow.com,tt0078788,en,Apocalypse Now,"At the height of the Vietnam war, Captain Benj...",13.596300,...,89460381,153.0,"[{'iso_639_1': 'km', 'name': ''}, {'iso_639_1'...",Released,This is the end...,Apocalypse Now,False,8.0,2112,"[{'id': 1008, 'name': 'guerrilla'}, {'id': 126..."
30,False,"{'id': 139450, 'name': 'Memories Collection', ...",0,"[{'id': 16, 'name': 'Animation'}, {'id': 878, ...",NaN,tt1530535,ja,彼女の想いで,Koji Morimato’s animated science fiction short...,0.987992,...,0,44.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Magnetic Rose,False,7.9,11,"[{'id': 1826, 'name': 'space marine'}, {'id': ..."
33,False,NaN,14000000,"[{'id': 37, 'name': 'Western'}]",NaN,tt0105695,en,Unforgiven,"William Munny is a retired, once-ruthless kill...",10.942149,...,159157447,131.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some legends will never be forgotten. Some wro...,Unforgiven,False,7.7,1133,"[{'id': 549, 'name': 'prostitute'}, {'id': 798..."
35,False,NaN,75000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://www.simpsonsmovie.com/,tt0462538,en,The Simpsons Movie,After Homer accidentally pollutes the town's w...,14.302911,...,527068851,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,See our family. And feel better about yours.,The Simpsons Movie,False,6.9,2335,"[{'id': 494, 'name': 'father son relationship'..."
38,False,NaN,20000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.eternalsunshine.com,tt0338013,en,Eternal Sunshine of the Spotless Mind,"Joel Barish, heartbroken that his girlfriend u...",12.906327,...,72258126,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You can erase someone from your mind. Getting ...,Eternal Sunshine of the Spotless Mind,False,7.9,3758,"[{'id': 563, 'name': 'deja vu'}, {'id': 802, '..."
55,False,NaN,2000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,tt0245712,es,Amores perros,Three different people in Mexico City are cata...,5.958138,...,20908467,154.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,Love. Betrayal. Death.,Amores perros,False,7.6,537,"[{'id': 960, 'name': 'homeless person'}, {'id'..."
58,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,tt0383574,en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,29.455314,...,1065659812,151.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jack is back!,Pirates of the Caribbean: Dead Man's Chest,False,7.0,5380,"[{'id': 616, 'name': 'witch'}, {'id': 663, 'na..."
59,False,NaN,32000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,tt0399146,en,A History of Violence,An average family is thrust into the spotlight...,11.119707,...,60740827,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Tom Stall had the perfect life... until he bec...,A History of Violence,False,6.9,850,"[{'id': 642, 'name': 'robbery'}, {'id': 848, '..."
62,False,"{'id': 4438, 'name': 'The Space Odyssey Series...",10500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,tt0062622,en,2001: A Space Odyssey,Humanity finds a mysterious object buried bene...,22.494622,...,68700000,149.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An epic drama of adventure and exploration,2001: A Space Odyssey,False,7.9,3075,"[{'id': 305, 'name': 'moon'}, {'id': 306, 'nam..."
63,False,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",12.297305,...,168840000,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,"[{'id': 222, 'name': 'schizophrenia'}, {'id': ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459928,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,tt5143226,en,12 Feet Deep,"Inspired by true events, two sisters are trapp...",4.479536,...,0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"100,000 gallons of water. 50 meters wide. No. ...",12 Feet Deep,False,5.1,62,"[{'id': 1156, 'name': 'sister sister relations..."
459950,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt5226512,en,Feed,"Olivia and Matthew Grey, 18-year-old twins bor...",4.207731,...,0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Feed,False,7.3,50,"[{'id': 15016, 'name': 'twins'}, {'id': 166262..."
460024,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",NaN,tt5702566,en,Stasis,After a night out of partying and left behind ...,6.868237,...,0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Their war. Our time.,Stasis,False,4.0,37,[]
460135,False,"{'id': 477208, 'name': 'DC Super Hero Girls Co...",0,"[{'id': 16, 'name': 'Animation'}]",NaN,tt7158814,en,LEGO DC Super Hero Girls: Brain Drain,"When Supergirl, Wonder Woman, Batgirl, Bumbleb...",8.413734,...,0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,LEGO DC Super Hero Girls: Brain Drain,False,10.0,2,"[{'id': 9715, 'name': 'superhero'}, {'id': 210..."
460822,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt6987652,en,"Oh, Hello: On Broadway",Two delusional geriatrics reveal curious pasts...,1.208618,...,0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Oh, Hello: On Broadway",False,6.8,13,"[{'id': 156028, 'name': 'broadway'}]"
460846,False,NaN,15000000,"[{'id': 28, 'name': 'Action'}]",NaN,tt3501112,en,Security,"An ex-special services veteran, down on his lu...",47.114366,...,0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Security,False,6.0,113,[]
460870,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.bbc.co.uk/programmes/p00kjq6d,tt2083695,en,Shock and Awe: The Story of Electricity,Professor Jim Al-Khalili tells the electrifyin...,0.007123,...,0,180.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shock and Awe: The Story of Electricity,False,0.0,0,"[{'id': 41594, 'name': 'electricity'}, {'id': ..."
461053,False,"{'id': 221111, 'name': 'S.W.A.T. Collection', ...",0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,tt6014472,en,S.W.A.T.: Under Siege,When a D.E.A. and S.W.A.T. cartel takedown end...,20.386910,...,0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,S.W.A.T.: Under Siege,False,5.2,21,"[{'id': 1470, 'name': 's.w.a.t.'}]"
461088,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",NaN,tt5689610,fa,۵۰ کیلو آلبالو,When the corrupted groom starts shooting in th...,0.034119,...,0,89.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,50 Kilos of Sour Cherry,True,0.0,0,[]
461089,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt3706382,en,Przechodzien,Interview with filmmaker Tadeusz Konwicki,0.490000,...,0,36.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,Passer-By,False,0.0,0,[]
461257,False,NaN,0,[],NaN,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0,[]
461297,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,tt6212210,en,Cop and a Half: New Recruit,In this family-friendly action reboot of the 1...,1.248353,...,0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Kid's Fantasy. One Cop's Nightmare.,Cop and a Half: New Recruit,False,6.0,1,"[{'id': 9663, 'name': 'sequel'}, {'id': 156321..."
461533,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt2879456,en,The Everyday,"Interviews about the film ""Meanwhile"" with dir...",0.010588,...,0,15.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Everyday,False,0.0,0,"[{'id': 50244, 'name': 'making of'}]"
461615,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,tt4717402,fr,Mutafukaz,Angelino is just one of thousands of deadbeats...,0.249393,...,0,90.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Mutafukaz,False,7.5,2,[]
461634,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt7044010,en,Rory Scovel Tries Stand-Up for the First Time,Comedian Rory Scovel storms the stage in Atlan...,0.593041,...,0,66.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Rory Scovel Tries Stand-Up for the First Time,False,8.0,6,"[{'id': 9716, 'name': 'stand-up comedy'}]"
461805,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt6840134,en,The Putin Interviews,"Academy Award-winning filmmaker, Oliver Stone ...",0.642527,...,0,240.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Know Your Enemy,The Putin Interviews,False,8.1,8,[]
461955,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.oatsstudios.com,tt6990734,en,Rakka,"""Rakka"" is the story of broken humanity follow...",2.569474,...,0,22.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Rakka,False,7.4,44,"[{'id': 161195, 'name': 'digital film'}, {'id'..."
462026,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.andrewkotting.com/ak%20web/edithwal...,tt6612512,en,Edith Walks,Edith Walks is a 60 minute 66 second feature f...,0.183256,...,0,60.0,[],Released,NaN,Edith Walks,False,0.0,0,[]
462108,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt7068896,en,Chris D'Elia: Man on Fire,Unbridled comic Chris D'Elia reconsiders his a...,0.482896,...,0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Chris D'Elia: Man on Fire,False,5.8,6,"[{'id': 9716, 'name': 'stand-up comedy'}]"
462788,False,NaN,0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 18,...",NaN,tt0251072,en,An Enemy of the People,"Set in a Norwegian hamlet, an idealistic physi...",0.002082,...,0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,An Enemy of the People,False,0.0,0,"[{'id': 10181, 'name': 'based on play or music..."
463800,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",https://www.youtube.com/watch?v=Tm0V24IEHao,tt7078926,en,Firebase,"Set during the Vietnam war, Firebase follows A...",2.129137,...,0,27.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Firebase,False,7.3,28,"[{'id': 2957, 'name': 'vietnam war'}, {'id': 2..."
463906,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt2569088,en,The Saint,"International master thief, Simon Templar, als...",28.235930,...,0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Saint,False,5.8,41,"[{'id': 186946, 'name': 'the saint'}]"
464111,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",https://www.youtube.com/watch?v=pKWB-MVJ4sQ,tt7078780,en,Zygote,"Stranded in an Arctic mine, two survivors are ...",3.214001,...,0,23.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Zygote,False,7.2,28,[]
464207,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt7104950,en,The Truth Is in the Stars,"William Shatner sits down with scientists, inn...",1.075249,...,0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Truth Is in the Stars,False,7.5,2,"[{'id': 18330, 'name': 'nature'}, {'id': 15681..."
464819,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,tt0365473,en,The Making of 'The Terminator': A Retrospective,An interview session with Arnold Schwarzenegge...,0.000001,...,0,18.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Making of 'The Terminator': A Retrospective,False,0.0,0,"[{'id': 50244, 'name': 'making of'}]"
465044,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt5943940,en,Abduction,A horror comedy spoofing conspiracy theory mov...,0.281008,...,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Horrifically Funny,Abduction,False,0.0,0,[]
467731,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0507700,en,Tragedy in a Temporary Town,Fifteen-year-old girl Dotty Fisher is assaulte...,0.001189,...,0,60.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Tragedy in a Temporary Town,False,0.0,0,[]